@model Musicstore.Models.Api

@{
    ViewBag.Title = "Get api";
}

@if(ViewBag.ApiKey != null) {
    <h1 class="text-center">Your api key is <span class="text-info">@ViewBag.ApiKey</span></h1>
    <h4 class="text-center">Write it down. <span class="text-danger">We'll not show it again.</span></h4><br /><br />
}
else {
    using(Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-horizontal col-md-offset-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.AppName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AppName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AppName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Get api" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
