@model IEnumerable<Musicstore.Models.Album>

@{
    ViewBag.Title = "Album list";
}

<table class="table" id="dtable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlbumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSongs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSongs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Performer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td width="150px">
                    <a href="@Url.Action("EditAlbum", new { id = item.Id })" class="btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                    <a href="@Url.Action("AlbumDetails", new { id = item.Id })" class="btn-sm btn-info"><i class="glyphicon glyphicon-list"></i> Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#dtable').DataTable();
    });
</script>

@section scripts{
    <link href="~/content/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/datatables/jquery.datatables.min.js"></script>
    <script src="~/scripts/datatables/datatables.bootstrap.min.js"></script>
    <script src="~/scripts/datatables/datatables.responsive.min.js"></script>
}