@model IEnumerable<Musicstore.Models.User>

@{
    ViewBag.Title = "List of users";
}

<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Locked until
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach(var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { id = item.Id }, new { @class = "btn-sm btn-warning" })
                @Html.ActionLink("Details", "UserDetails", new { id = item.Id }, new { @class = "btn-sm btn-info" })
                @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id }, new { @class = "btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
