<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Musicstore</title>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Music store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @Html.Partial("_AdminPanelPartial")
                </ul>
                <ul>
                    @Html.Partial("_LoginPartial")
                    @Html.Partial("_SearchPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="min-height: 735px">
        @RenderBody()
    </div>
    <footer class="container body-content">
        <hr />
        <div id="padd-div" class="col-md-2 padding-left-0">
            <p class="margin-bottom-3"><strong>Partners & Publishers</strong></p>
            <ul class="list-unstyled text-muted">
                <li>@Html.ActionLink("List of publishers", "Index", "Publisher")</li>
                <li><a href="#">Are you a publisher?</a></li>
                <li>@Html.ActionLink("List of partners", "PartnerList", "Home")</li>
                <li>@Html.ActionLink("Become a partner", "PartnerProgram", "Home")</li>
            </ul>
        </div>
        <div class="col-md-2">
            <p class="margin-bottom-3"><strong>API</strong></p>
            <ul class="list-unstyled text-muted">
                <li><a href="#">Get API</a></li>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Bugs</a></li>
                <li><a href="#">Any suggestions?</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <p class="margin-bottom-3"><strong>Music store</strong></p>
            <ul class="list-unstyled text-muted">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
        <div class="col-md-2">
            <p class="margin-bottom-3"><strong>Social</strong></p>
            <ul class="list-unstyled text-muted">
                <li><a href="http://facebook.com">Facebook</a></li>
                <li><a href="http://twitter.com">Twitter</a></li>
                <li><a href="http://plus.google.com">Google+</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <p class="margin-bottom-3"><strong>Mobile</strong></p>
            <ul class="list-unstyled text-muted">
                <li><a href="https://play.google.com/store">Android</a></li>
                <li><a href="https://itunes.apple.com/us/genre/ios/id36?mt=8">iOS</a></li>
                <li><a href="https://www.microsoft.com/en-us/store/apps/windows-phone">Windows phone</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <p class="margin-bottom-3"><strong>Univerzitet Metropolitan</strong></p>
            <ul class="list-unstyled text-muted">
                <li><a href="http://metropolitan.ac.rs">Home page</a></li>
                <li><a href="http://metropolitan.edu.rs/o-univerzitetu/">About</a></li>
            </ul>
        </div>
    </footer>

    @Scripts.Render("~/bundles/footer")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/helper")
    @RenderSection("scripts", required: false)
</body>
</html>
